.slider {
  position: relative; /* or absolute if needed */
  width: 100%;
  height: 400px; /* Adjust as needed */
  overflow: hidden;
  z-index: 0; /* Ensure it is behind the Header */
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1; /* Ensure buttons are on top of the image */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
